.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 6.25rem;
    height: 6.25rem;
    background-color: color(alpha);
    border-radius: 50%;
    transition: 250ms ease-in-out padding;

    & svg {
        width: 3.2rem;
        animation-name: logo-animation;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-duration: 1.25s;
    }
    
    &--loaded svg {
        padding: 1.875rem;
        animation: none;
    }
}