@keyframes header-animation {
    from {
        height: 100%;
    }
    to {
        height: 4rem;
    }
}

@keyframes logo-animation {
    from {
        padding: 0;
    }
    to {
        padding: 1.875rem;
    }
}
@keyframes bounce {
    from {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,-5px,0);
    }
    to {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, 0, 0);
    }
  
}

.Animation {
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.Animation--bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}